{% extends "base.html" %}

{% block content %}
    <main class="main main--about">
        <img class="profile" src="static/img/Profile_Photo.png" alt="Rushi's profile picture" />
        <p>
            Hi, I'm Rushikesh Shelke an aspiring Python Full Stack Developer with experience in developing 
            and maintaining wide range of existing and new functionalities, analysis and bug fixing.
            Hardworking and passionate about exploring new things.
        </p>
        <p>
            Coding is extremely rewarding. As you learn, things start to click and make sense.
            I'm experienced with programming libraries Python, Unix shell scripting and frameworks
            like Flask, Django.
        </p>
    </main>
{% endblock %}