<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Rushikesh Shelke | Portfolio</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}" />
</head>
<body>
    <header class="header">
        <h1>Rushikesh Shelke</h1>
        <nav class="nav"> 
            <a href="{{ url_for('portfolio.home') }}" class="nav__link {{ 'nav__link--active' if request.path == url_for('portfolio.home') }}">
                Projects
            </a>
            <a href="{{ url_for('portfolio.about') }}" class="nav__link {{ 'nav__link--active' if request.path == url_for('portfolio.about') }}">
                About
            </a>
            <a href="{{ url_for('portfolio.contact') }}" class="nav__link {{ 'nav__link--active' if request.path == url_for('portfolio.contact') }}">
                Contact
            </a>
        </nav>
    </header>
    {% block content %}

    {% endblock %}
    <footer class="footer">
        <div class="footer__content">
            <section class="left">
                <a href="{{ url_for('portfolio.about') }}" class="footer__item">Made by Rushikesh Shelke</a>
                <a href="{{ url_for('portfolio.home') }}" class="footer__item">Checkout my other projects</a>
            </section>
            <section class="right">
                <div class="footer__column">
                    <a href="{{ url_for('portfolio.about') }}" class="footer__item">About</a>
                    <a href="{{ url_for('portfolio.contact') }}" class="footer__item">Contact</a>
                </div>
            </section>
        </div>
    </footer>
</body>
</html>