{% extends "base.html" %}

{% block content %}
    <main class="main main--content">
        <dl>
            <div class="contact">
                <dt>Email:</dt>
                <dd class="contact__details">
                    <a class="contact__link" href="mailto:shelke.rushi2010@gmail.com">
                        Rushikesh Shelke
                    </a>
                </dd>
            </div>
            <div class="contact">
                <dt>Github:</dt>
                <dd class="contact__details">
                    <a class="contact__link" href="https://github.com/rushikeshshelke?tab=repositories">
                        Rushikesh Shelke
                    </a>
                </dd>
            </div>
            <div class="contact">
                <dt>Linkedin:</dt>
                <dd class="contact__details">
                    <a class="contact__link" href="https://www.linkedin.com/in/rushikesh-shelke-01642715b">
                        Rushikesh Shelke
                    </a>
                </dd>
            </div>
        </dl>
    </main>
{% endblock %}